{% extends '_layouts/detail.njk' %}

{% block story %}

<img class="img-fluid" src="img/kraken01.jpg" alt="Kraken Photo">

  <h2>It was a dark and stormy night</h2>
  <h5>Captain's log, Oct. 18, 2018</h5>
  <p>It was a dark and stormy night when I continued my journey acorss the Atlantic ocean. It was cold and all my shipmates were asleep or at work on the deck, when suddenly a huge wave crashed into the ship and almost knocked us all out. But it didn't. So we're good now. We survived. Being a pirate is scary but like..so awesome. </p>
  
{% endblock %}