{% extends '_layouts/detail.njk' %}

{% block story %}

  <img class="img-fluid" src="img/kraken03.jpg" alt="Kraken Photo">

  <h2>Arrival on land</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>We finally arrived on land. We checked into a Days Inn in the Bahamas and spent the entire day catching up on sleep by the pool. It turns out being a pirate is actually really exhausting. We accidentally fell asleep in the sun without sunscreen on and woke up with a sunburn. Never again!</p>
{% endblock %}