{% extends '_layouts/detail.njk' %}

{% block story %}

<img class="img-fluid" src="img/kraken02.jpg" alt="Kraken Photo">
  <h2>The morning after the dark and stormy night</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>The morning after the dark and stormy night, the sea was still. We couldn't believe how beautifully the sun hit our deck and the horizon seemed never ending. So we enjoyed the weather and sunbathed on the deck, ate leftovers and drank apple juice. We had a great time living our pirate lifestyle. You know, "ay ay captain"-ing and all. </p>
{% endblock %}