{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <h1>Being a Pirate is literally so awesome.</h1>
    <p class="author">By Obi-Wan Kenobi</p>
    <p class="date"> Published May 25, 1977</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>
        This blog is a 3-day account of my experience being a pirate at sea. It was amazing. On the first night, my crew and I encountered a storm and I almost lost control of my ship, but we overcame it. Then, on the morning after the storm, we spent all day sunbathing and doing pirate things...you know, sunbathing, eating leftovers and drinking tea. Then, on the last day we finally arrived on land. Click on the dropdown above to read more about what happened.
      </p>
      {% for entry in data.entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
